<%- include('../templates/h'); %>
<%- include('../templates/n'); %>
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Contact</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">List Data Contact</h6>
            
            <div class="dropdown no-arrow">
                <form class="form-inline" action="/contact/search" method="GET">
                    <div class="form-group mx-sm-3 mb-2">
                      <label class="sr-only">Password</label>
                      <input type="text" class="form-control" placeholder="No. RM / Nama" name="search" required>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-search"></i> Cari</button>
                    <a href="/contact/add" class="ml-2">
                        <button type="button" class="btn btn-success mb-2"><i class="fas fa-plus"></i> Add</button>
                    </a>
                  </form>
            </div>
        </div>
        <div class="card-body">
            <%if (messages.info) { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= messages.info %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
            <div class="table-responsive">
                <p>Hasil pencarian "<b><%= pencarian %></b>" </p>
                <table class="table table-bordered" id="dataTableContact" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>No. Telp</th>
                            <th>No. RM</th>
                            <th>Keterangan</th>
                            <th class="text-center">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var number = 1; %>
                        <% data.forEach(function(row) { %>
                            <tr>
                                <td><%= number %></td>
                                <td><%= row.nama %></td>
                                <td><%= row.telp %></td>
                                <td><%= row.no_rm %></td>
                                <td><%= row.deskripsi %></td>
                                <td class="text-center">
                                    <a href="/contact/<%= row.id %>/edit" class="btn btn-sm btn-success"><i class="fa fa-wrench"></i></a>
                                    <a href="/contact/<%= row.id %>/hapus" onclick="return confirm('Hapus Data ?')" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        <%  number++; %>
                        <% }); %>
                    </tbody>
                </table>
                <a href="/contact" class="btn btn-danger">Kembali</a>
            </div>
        </div>
    </div>

</div>
<%- include('../templates/f'); %>